.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

[class*=".col-"]>*{
    margin: 1rem;  
}

.col-2of12{width:16%;}
.col-3of12{width: 25%;}
.col-4of12{width:33.3%;}
.col-5of12{width:42%;}
.col-6of12{width: 50%;}
.col-7of12{width: 58%;}
.col-8of12{width:66%;}
.col-9of12{width: 75%;}
.col-10-12{width: 83%;}
.col-11of12{width: 92%;}
.col-12of12{width: 100%;}

.canvas{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (max-width: 22rem){
    .col-4of12{width: 100%;}
    .col-6of12{width: 100%;}
    .canvas{width: 100%;}
    #navbtn{visibility: visible;}
    #mynav{visibility: hidden; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 95%;
    position: fixed;
    line-height: 10rem;
    text-align: center;
    opacity: 0.8;}
    #mynav a{font-size: 3rem;}
    .closebtn{text-align: left;}

}

@media only screen and (max-width: 27rem){
    .col-4of12{width: 100%;}
    .col-6of12{width: 100%;}
    #merow{width: 100%;}
    .canvas{width: 100%;}
    #navbtn{visibility: visible;}
    #mynav{visibility: hidden; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 95%;
    position: fixed;
    line-height: 10rem;
    text-align: center;
    opacity: 0.8;}
    #mynav a{font-size: 3rem;}
    .closebtn{text-align: left;}
}

@media only screen and (max-width: 48rem){
    .col-4of12{width: 100%;}
    .col-6of12{width: 100%;}
    .canvas{width: 100%;}
    #navbtn{visibility: visible;}
    #mynav{visibility: hidden; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 95%;
    position: fixed;
    line-height: 10rem;
    text-align: center;
    opacity: 0.8;}
    #mynav a{font-size: 3rem;}
    .closebtn{text-align: left;}
}

@media only screen and (min-width: 63rem){
    .closebtn{visibility: hidden;}
    

}

@media only screen and (max-width: 90rem){
    .closebtn{visibility: hidden;}

}
